@charset "utf-8";

.photos-wrap {
  width: 95%;
  margin: 0 auto;
  max-width: 1920px;
}

.photos-wrap .item {
  transition: all ease .5s;
}

.photos-wrap > .item > img {
}

.list-img {
  object-fit: cover;
}

@media screen and (min-width: 500px) {
  .photos-wrap > .item {
    /* width: 48%; */
  }
}